{% extends "base.html" %}
{% load static %}
{% block cv_body %}
<section id="welcome-hero" class="welcome-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="header-text">
					<h2>hi <span>,</span> i am <br> {{name}} <br> {{last_name}} <span>.</span> </h2>
					<p>{{my_job}}</p>
					<a href="{% static 'download/browney.txt' %}" download>download resume</a>
				</div><!--/.header-text-->
			</div><!--/.col-->
		</div><!-- /.row-->
	</div><!-- /.container-->

</section><!--/.welcome-hero-->
<!--welcome-hero end -->

<!--about start -->
<section id="about" class="about">
	<div class="section-heading text-center">
		<h2>about me</h2>
	</div>
	<div class="container">
		<div class="about-content">
			<div class="row">
				<div class="col-sm-6">
					<div class="single-about-txt">
						<h3>
							I am a passionate Computer Vision Engineer with a strong foundation in
							computer science and a proven track record in the field of industrial
							robotics. My career journey has led me from data science to deep learning,
							and I am now expanding my expertise into web development with Django.
						</h3>
						<br>
						<br>
						<br>
						<h2>
							Career Journey
						</h2>
						<p>
							My career began as a data scientist, where I honed my skills in data analysis,
							machine learning, and statistical modeling. Working with large datasets and
							complex algorithms allowed me to harness the power of data to drive informed
							decision-making and business optimization.My transition into the field of
							computer vision marked a turning point in my career. Joining Isfahan Science
							& Technology Town (ISTT), I took on the role of a Computer Vision Engineer.
							Here, I've had the privilege of working on cutting-edge projects that involve
							designing and implementing computer vision solutions for industrial robots.
							These solutions have contributed significantly to automation, precision, and
							efficiency in manufacturing processes. Collaborating closely with cross-functional
							teams,I've played a key role in seamlessly integrating vision systems into
							robotic platforms.
						</p>
						<div class="row">
							<div class="col-sm-4">
								<div class="single-about-add-info">
									<h3>email</h3>
									<p>s.shafiee.qsbs@gmail.com</p>
								</div>
								<div class="single-about-add-info">
									<h3>github</h3>
									<p>Saba-Qlf</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-offset-1 col-sm-5">
					<div class="single-about-img">
						<img src="{% static 'images/about/profile_image.jpg' %}" alt="profile_image">
						<div class="about-list-icon">
							<ul>
								<li>
									<a href="#">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
								</li><!-- / li -->
								<li>
									<a href="#">
										<i class="fa fa-dribbble" aria-hidden="true"></i>
									</a>

								</li><!-- / li -->
								<li>
									<a href="#">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>

								</li><!-- / li -->
								<li>
									<a href="#">
										<i class="fa fa-linkedin" aria-hidden="true"></i>
									</a>
								</li><!-- / li -->
								<li>
									<a href="#">
										<i class="fa fa-instagram" aria-hidden="true"></i>
									</a>
								</li><!-- / li -->


							</ul><!-- / ul -->
						</div><!-- /.about-list-icon -->

					</div>

				</div>
			</div>
		</div>
	</div>
</section><!--/.about-->
<!--about end -->

<!--education start -->
<section id="education" class="education">
	<div class="section-heading text-center">
		<h2>education</h2>
	</div>
	<div class="container">
		<div class="education-horizontal-timeline">
			<div class="row">
				<div class="col-sm-12">
					<div class="single-horizontal-timeline">
						<div class="experience-time">
							<h2>2018 - 2022</h2>
							<h3>bachelor <span>of </span> computer science</h3>
						</div><!--/.experience-time-->
						<div class="timeline-horizontal-border">
							<i class="fa fa-circle" aria-hidden="true"></i>
							<span class="single-timeline-horizontal"></span>
						</div>
						<div class="timeline">
							<div class="timeline-content">
								<h4 class="title">
									university of Yazd
								</h4>
								<h5>Yazd , Iran</h5>
								<p class="description">
									Yazd University's Department of Computer Engineering started its activities
									in 1991. Currently, in addition to bachelor of computer engineering, the
									Department is pursuing master's degree in three fields of software, artificial
									intelligence and computer networks, and doctoral degree in both software and
									artificial intelligence.
								</p>
							</div><!--/.timeline-content-->
						</div><!--/.timeline-->
					</div>
				</div>

			</div>
		</div>
	</div>

</section><!--/.education-->
<!--education end -->



<!--languages start -->
<section id="languages" class="languages">
	<div class="skill-content">
		<div class="section-heading text-center">
			<h2>programming languages</h2>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="single-skill-content">
						<div class="barWrapper">
							<span class="progressText">Python</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>

							</div>
						</div><!-- /.barWrapper -->
						<div class="barWrapper">
							<span class="progressText">C++</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>

							</div>
						</div><!-- /.barWrapper -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="single-skill-content">
						<div class="barWrapper">
							<span class="progressText">html 5</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>

							</div>
						</div><!-- /.barWrapper -->
						<div class="barWrapper">
							<span class="progressText">css</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>

							</div>
						</div><!-- /.barWrapper -->
					</div>
				</div>
			</div><!-- /.row -->
		</div> <!-- /.container -->
	</div><!-- /.skill-content-->

</section><!--/.languages-->
<!--languages end -->


<!--skills start -->
<section id="skills" class="skills">
	<div class="skill-content">
		<div class="section-heading text-center">
			<h2>skills</h2>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="single-skill-content">
						<div class="barWrapper">
							<span class="progressText">Computer Vision</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>
							</div>
						</div><!-- /.barWrapper -->
						<div class="barWrapper">
							<span class="progressText">Natural language processing</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>
							</div>
						</div><!-- /.barWrapper -->
						<div class="barWrapper">
							<span class="progressText">Deep Learning</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>
							</div>
						</div><!-- /.barWrapper -->
						<div class="barWrapper">
							<span class="progressText">Web Development</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>
							</div>
						</div><!-- /.barWrapper -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="single-skill-content">
						<div class="barWrapper">
							<span class="progressText">adobe illustrator</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>
							</div>
						</div><!-- /.barWrapper -->
						<div class="barWrapper">
							<span class="progressText">English</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>
							</div>
						</div><!-- /.barWrapper -->
						<div class="barWrapper">
							<span class="progressText">communication</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>
							</div>
						</div><!-- /.barWrapper -->
						<div class="barWrapper">
							<span class="progressText"> creativity</span>
							<div class="single-progress-txt">
								<div class="progress ">
									<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="10"
										aria-valuemax="100" style="">

									</div>
								</div>
							</div>
						</div><!-- /.barWrapper -->
					</div>
				</div>
			</div><!-- /.row -->
		</div> <!-- /.container -->
	</div><!-- /.skill-content-->

</section><!--/.skills-->
<!--skills end -->


<!--projects start -->
<section id="projects" class="projects">
	<div class="projects-details">
		<div class="section-heading text-center">
			<h2>projects</h2>
		</div>
		<div class="container">
			<div class="projects-content">
				<div class="isotope">
					<div class="row">

						<div class="col-sm-4">
							<div class="item">
								<img src="{% static 'images/portfolio/p1.jpg' %}" alt="portfolio image" />
								<div class="isotope-overlay">
									<a href="#">
										object detection projects
									</a>
								</div><!-- /.isotope-overlay -->
							</div><!-- /.item -->
							<div class="item">
								<img src="{% static 'images/portfolio/p2.jpg' %}" alt="portfolio image" />
								<div class="isotope-overlay">
									<a href="#">
										object-tracking projects
									</a>
								</div><!-- /.isotope-overlay -->
							</div><!-- /.item -->
						</div><!-- /.col -->

						<div class="col-sm-4">
							<div class="item">
								<img src="{% static 'images/portfolio/p3.jpg' %}" alt="portfolio image" />
								<div class="isotope-overlay">
									<a href="#">
										classification projects
									</a>
								</div><!-- /.isotope-overlay -->
							</div><!-- /.item -->
						</div><!-- /.col -->

						<div class="col-sm-4">
							<div class="item">
								<img src="{% static 'images/portfolio/p4.jpg' %}" alt="portfolio image" />
								<div class="isotope-overlay">
									<a href="#">
										web development
									</a>
								</div><!-- /.isotope-overlay -->
							</div><!-- /.item -->
							<div class="item">
								<img src="{% static 'images/portfolio/p5.jpg' %}" alt="portfolio image" />
								<div class="isotope-overlay">
									<a href="#">
										game development
									</a>
								</div><!-- /.isotope-overlay -->
							</div><!-- /.item -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!--/.isotope-->
			</div><!--/.gallery-content-->
		</div><!--/.container-->
	</div><!--/.projects -details-->

</section><!--/.projects-->
<!--projects end -->
{% endblock %}